* {
    box-sizing: border-box;
  }
body {
	display: flex;
	justify-content: center;  
    align-items: center;
}

#ovrCount {
    font-size: 100px;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 300px;
    margin-bottom: 50px;
}

#inputNum {
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 100px;
    border: solid grey 10px;
    border-radius: 5%;
    width: 300px;
}

#bottomrow {
    display: flex;
    justify-content: space-between;
}



#minusBtn {
    width: 135px;
    height: 135px;
    margin-left: 30px;
    font-size: 50px;
}
#plusBtn {
    width: 135px;
    height: 135px;
    margin-right: 30px;
    font-size: 50px;
}
